@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* 다크모드일때 화이트 text*/
  --background-rgb: 0, 0, 0; /* 다크모드 일때 배경색 */
  --primary-color: 255, 85, 85;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.light {
  --foreground-rgb: 0, 0, 0; /* 라이트 모드일때 검정 text */
  --background-rgb: 255, 255, 255; /* 화이트모드 일때 배경색 */
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  transition: background-color 0.3s, color 0.3s;
}

h1,
h2 {
  color: rgb(var(--primary-color));
}

@layer utilities {
  .text-primary {
    color: rgb(var(--primary-color));
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
